.button {
    -fx-background-color: #FFB6C1; /* Light pink */
    -fx-text-fill: #880E4F; /* Dark pink text */
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}
.grid-border {
    -fx-background-color: #FFDFDF, white;
    -fx-background-insets: 0, 3;
    -fx-padding: 3;
    -fx-background-radius: 5px;
}
