AnchorPane {
    -fx-border-color:  #FFDFDF !important;
    -fx-border-width: 5px !important;
}

.button {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: #880E4F; 
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}
.grid-border {
	-fx-background-color: #FFDFDF, white;
    -fx-background-insets: 0, 3;
    -fx-padding:3px;
    -fx-border-radius:5px;
}
.ReStart{
	-fx-font-size:17px;
}
.Home{
	-fx-font-size:17px;
}
button20, #button20:hover, #button20:active {
    -fx-background-color: transparent !important; 
}