AnchorPane {
    -fx-border-color:  #FFDFDF !important;
    -fx-border-width: 5px !important;
}

.button {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: #880E4F; 
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}
.grid-border {
	-fx-background-color: #FFDFDF, white;
    -fx-background-insets: 0, 3;
    -fx-padding:3px;
    -fx-border-radius:5px;
}
.ReStart{
	-fx-font-size:17px;
}
.Home,Shuffle{
	-fx-font-size:17px;
}
button20, #button20:hover, #button20:active {
    -fx-background-color: transparent !important; 
    }
.info-Label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #880E4F;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.5, 0, 1);}
    .control-button {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: #880E4F;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}

.control-button:hover {
    -fx-background-color: #FF8C9E;
    -fx-cursor: hand;
}
#btn20 {
    -fx-background-color: white !important;
    -fx-border-color: transparent !important;
}
.start-border{
	-fx-border-color:  #FFDFDF !important;
    -fx-border-width: 5px !important;
    -fx-background-color:#FFDFDF !important;
	
}
